<div class="card">
    <div class="card-header border border-secondary-subtle">
        <h2>Transacciones</h2>
    </div>
    <div class="btn-group btn-group-lg" role="group" aria-label="Default button group">
        <button type="button" class="btn btn-outline-secondary" (click)="setAllTransactionsStrategy()">Todas</button>
        <button type="button" class="btn btn-outline-secondary" (click)="setConsumptionOnlyStrategy()">Solo Consumos</button>
        <button type="button" class="btn btn-outline-secondary" (click)="setRechargeOnlyStrategy()">Solo Recargas</button>
    </div>
    <div>
        <div *ngIf="this.filteredTransactions?.length == 0" class="text-center m-3">
            <h6>No hay transacciones para mostrar.</h6>
        </div>
        <div *ngFor="let transaction of this.filteredTransactions" class="card m-3 bg-light-subtle">
            <div class="card-header m-1">
                <h5>{{transaction.operation}}</h5>
            </div>
            <div class="card-body">
                <h4 *ngIf="transaction.type == 'consumption'" class="card-title text-danger">-${{transaction.amount}}</h4>
                <h4 *ngIf="transaction.type == 'recharge'" class="card-title text-success">+${{transaction.amount}}</h4>
                <h5 class="card-text"><b>Saldo resultante:</b> ${{transaction.newBalance}}</h5>
                <p class="card-text"> <b>Tipo:</b> {{ transaction.type }}</p>
                <p class="card-text"> <b>Fecha:</b> {{ transaction.date | date: 'd/M/yy, HH:mm' : 'UTC'}}</p>
            </div>
        </div>
    </div>
</div>
