<div class="card">
    <div class="card-body">
        <div class="card-header">
            <h4 class="card-title m-1">Carga de Saldo</h4>
        </div>
        <form [formGroup]="sellForm" (ngSubmit)="onSubmit()">
            <br>
            <div class="row mb-3">
                <label for="cellphone" class="">Celular</label>
                <div class="input-group">
                    <div class="input-group-text">+54</div>
                    <input type="text" class="form-control form-control-sm" id="cellphone" placeholder="9 221223456" formControlName="cellphone">
                </div>
            </div>
            <div class="row mb-3">
                <label for="password">Monto</label><br>
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" id="amount" formControlName="amount">
                </div>
                <br>
            </div>
            <div class="row mb-3">
                <button type="submit" class="btn btn-success" [disabled]="!sellForm.valid">Cargar Saldo</button>
            </div>
        </form>
        <div *ngIf="this.status.failed" class="alert alert-danger">
            {{ errorMsg.message }}
        </div>
        <div *ngIf="this.status.success" class="alert alert-success">
            La recarga se realizo con exito
        </div>
    </div>
</div>
{{pepito}}