<h1>Login</h1>
<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <label for="cellphone">Cellphone:</label>
            <div class="input-group">
                <div class="input-group-text">+54</div>
                <input type="text" class="form-control" id="cellphone" placeholder="9 221223456" formControlName="cellphone">
            </div>
            <label for="password">Password: </label>
            <div class="input-group">
                <input type="text" class="form-control" id="password" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
        </div>
    
        {{ errorMsg.msg }}
        
    </form>
</div>