<div class="card m-3">
    <div class="card-body">
        <div class="card-header">
            <h4 class="card-title">Inicio de Sesion</h4>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <br>
            <div class="row mb-3">
                <label for="cellphone" class="">Cellphone</label>
                <div class="input-group">
                    <div class="input-group-text">+54</div>
                    <input type="text" class="form-control form-control-sm" id="cellphone" placeholder="9 221223456" formControlName="cellphone">
                </div>
            </div>
            <div class="row mb-3">
                <label for="password">Password</label><br>
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" id="password" formControlName="password">
                </div>
                <br>
            </div>
            <div class="row mb-3">
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Iniciar Sesion</button>
            </div>
            {{ errorMsg.message }}
        </form>
        <div>
            <a href="#" routerLink="/register"><h6 href="#" routerLink="/register">¿No tienes una cuenta? Registrate</h6></a>
        </div>
    </div>
</div>